# Python 缓存文件夹
__pycache__/

# Verilog 编译输出文件夹
build/

# 各种结果文件夹
results/
result/
reports/
outputs
output

# 临时文件夹
temp/

# 可能存在的演示文稿文件
~$*.pptx

# 可能存在的压缩包
*.zip
*.tar.gz
*.7z
*.rar

# Claude Code 
CLAUDE.md
Prompt/
chat-claude/
Ins.md

# 参考样板
MiniCNN/src

# 仿真的结果文件
*.vcd
*.log
*simv*
*dbg*
*.vvp*
*.report*
*.rpt

# 预处理数据
prepared_conv_test/
prepared_test/
prepared_sim/

# 编译出的 SRAM 原始文件
SRAM/

# 工艺库文件
SMIC18/

# 注释还原临时文件夹
comment/

# 各种测试文件夹
syn_test/

# 涉及部分隐私的笔记文档
SonicBolt/syn/docs/

# 配置和虚拟环境
.claude/
.venv/

# 物理设计相关文件夹
/SonicBolt/icc/design/
/SonicBolt/icc/work/

# Prompt